:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body{
    height: 100vh;
    min-width: 100vw;
    background-color: var(--body-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
#container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
#imgPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#imgPerfil img{
   border: 2px solid var(--purple);
   padding: 5px;
   height: 14rem;
   width: 14rem;
   border-radius: 15rem;
}
#imgPerfil span a{
    text-decoration: none;
    color: var(--purple);
 }
 